
<!-- Δημιουργούμε έναν μηχανισμό επανάληψης (for loop) χρησιμοποιώντας το structural directive της angular *ngFor
     Διαβάζεται ως εξής
     "Για κάθε animal μέσα στη λίστα με τα animals (animalList) δημιούργησε ένα καινούριο app-animal component"
     Δίνουμε στο κάθε app-animal component τα inputs(properties) που χρειάζεται για να λειτουργήσει χρησιμοποιώντας property binding
     Κάνουμε Handle to "feint" event που έρχεται μέσα από το app-animal component όταν ένα ζώο λιποθυμήσει.

     let animal -- δηλώνει μια μεταβλητή στο html η οποία έχει τις τιμές του εκάστοτε ζώου
     of animals -- δηλώνει από ποιά λίστα θα παραχθεί η μεταβλητή animal

     το argument/parameter $event είναι angular σύνταξη, και μεταφέρει την πληροφορία που χρειάζεται η onFeint (handler)
     για να λειτουργήσει... δηλαδή λέει στο zookeeper ποιό ζώο πρέπει να αφαιρέσει από τη λίστα.
     example $event = 'tiger'
-->
<h1>Animals</h1>
<div class="d-flex">
    <div *ngFor="let animal of animalList">
        <app-animal
            class="m-3"
            [name]="animal.name"
            [stamina]="animal.stamina"
            [image]="animal.image"
            [sound]="animal.sound"
            [staminaDecay]="animal.staminaDecay"
            (feint)="onFeint($event)"
        ></app-animal>
    </div>
</div>
<h1>Chores</h1>
<div class="d-flex">
    <div *ngFor="let chore of choreList">
        <app-chore
            class="m-3"
            [name]="chore.name"
            [image]="chore.image"
            [completionTime]="chore.completionTime"
            [complete]="chore.complete"
            (choreComplete)="onChoreComplete($event)"
        ></app-chore>
    </div>
</div>
